.friendItem {
    display: flex;
    border: 3px solid gray;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0px;
    border-radius: 5px;
}

.name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.online {
    color: green;
    text-align: center;
    font-weight: 600;
}

.offline {
    color: red;
    text-align: center;
    font-weight: 600;
}